@{
    ViewData["Title"] = "About Us";
}

<h1 class="display-4">About Us</h1>

<br />
<hr class="border border-primary border-3 opacity-75">
<br />

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="https://img.freepik.com/premium-vector/female-character-choosing-book-buy-bookstore-woman-standing-by-shelves-publication-different-literature-bestsellers-student-enjoying-reading-hobby-student-vector-flat-style_87689-2497.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698364800&semt=ais" class="img-fluid" alt="...">
        </div>
        <div class="col text-justify">
            E-book Pvt. Ltd is a company that has made a significant impact in the book-selling industry in Sri Lanka. 
            Over the past three years, it has established itself as one of the most respected and prestigious bookshops in the country. 
            What sets E-book Pvt. Ltd apart from other bookstores is its rapid growth and development, both in terms of quality and quantity. 
            This has allowed them to cater to a diverse readership, ranging from young children to esteemed academics. The success of E-book Pvt. 
            Ltd can be attributed to its vast collection of used books, both Sri Lankan and foreign. This has allowed them to offer a wide range of books 
            covering various disciplines, 
            ensuring that they meet the diverse needs of their readers. This has made E-book Pvt. Ltd the go-to destination for book lovers in Sri Lanka.
        </div>

    </div>
</div>

<br />

<div class="d-flex justify-content-between">

     
    </div>
