@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://img.freepik.com/premium-vector/online-library-digital-bookstore-bookshop-concept-bookshelves-background-laptop-cup-tea-books-screen-reading-technology-literature-read-education-learning-vector-illustration_345238-1260.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                @* <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p> *@
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://metro.co.uk/wp-content/uploads/2020/11/PRI_171044896.jpg?quality=90&strip=all&zoom=1&resize=480%2C267" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                @* <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p> *@
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://offloadmedia.feverup.com/secretbirmingham.com/wp-content/uploads/2020/11/04043616/susan-yin-2JIvboGLeho-unsplash-1024x683.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                @* <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p> *@
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="card mb-3">
    @* <img src="..." class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h1 class="display-6">E Book Pvt Ltd</h1>
        <p class="card-text">E-book Pvt. Ltd is a company that has made a significant impact in the book-selling industry in Sri Lanka.Over the past three years, 
            it has established itself as one of the most respected and prestigious bookshops in the country. What sets E-book Pvt.Ltd apart from other bookstores 
            is its rapid growth and development, both in terms of quality and quantity. This has allowed them to cater to a diverse readership, ranging from young 
            children to esteemed academics. The success of E-book Pvt. Ltd can be attributed to its vast collection of used books, both Sri Lankan and foreign.
        </p>
        @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
    </div>
</div>
<br />


<h1 class="display-5">Explorer Your Favourite Book Category</h1>
<br />

            <table border="0" cellspacing="5" cellpadding="10">
                <tr>
                    <td>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/ThrillingAdventuresVol2No3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Adventures</h5>
                            <p class="card-text">Adventure fiction is a genre of fiction in which an adventure, 
                                an exciting undertaking involving risk and physical danger, forms the main storyline. </p>
                            <a href="@Url.Action("Index", "Book")" class="btn btn-outline-info">Explore Category</a>
                        </div>
                    </div>
                </div>
            </div>
                    </td>
                    <td>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/1003w/canva-brown-rusty-mystery-novel-book-cover-hG1QhA7BiBU.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Novels</h5>
                            <p class="card-text">A novel is a long prose narrative that usually describes fictional characters and events in the form of a sequential story.</p>
                            <a href="@Url.Action("Index", "Book")" class="btn btn-outline-info">Explore Category</a>
                        </div>
                    </div>
                </div>
            </div>
                    </td>
                </tr>
    <tr>
        <td>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ew.com/thmb/Fq5b7JKo1L3b3HYhoPzyA3pzVSo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Technically-Yours-by-Denise-Williams--romance-books-121423-61cae6f7114d48768d32a7c38ba1341b.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Romantics</h5>
                            <p class="card-text">Love intervenes with the intention of setting things right—but she doesn’t anticipate the intrusion of her dreaded nemesis:</p>
                            <a href="@Url.Action("Index", "Book")" class="btn btn-outline-info">Explore Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2023-10/17/22/asset/ed1b721b5d88/sub-buzz-3900-1697583514-1.jpg?downsize=900:*&output-format=auto&output-quality=auto" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Horror</h5>
                            <p class="card-text">Horror fiction often overlaps science fiction or fantasy, 
                                all three of which categories are sometimes placed under the umbrella classification speculative fiction</p>
                            <a href="@Url.Action("Index", "Book")" class="btn btn-outline-info">Explore Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
            </table>