@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-3">Welcome to our Book-Store</h1>
<br />
<table border="0" cellpadding="40">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/ThrillingAdventuresVol2No3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Adventures</h5>
                    <p class="card-text">
                        Adventure fiction is a genre of fiction in which an adventure.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/1003w/canva-brown-rusty-mystery-novel-book-cover-hG1QhA7BiBU.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Novels</h5>
                    <p class="card-text">A novel is a long prose narrative that usually describes fictional characters and events</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://ew.com/thmb/Fq5b7JKo1L3b3HYhoPzyA3pzVSo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Technically-Yours-by-Denise-Williams--romance-books-121423-61cae6f7114d48768d32a7c38ba1341b.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Romantic</h5>
                    <p class="card-text">Love intervenes with the intention of setting things right—but she doesn’t anticipate the intrusion</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://img.buzzfeed.com/buzzfeed-static/static/2023-10/17/22/asset/ed1b721b5d88/sub-buzz-3900-1697583514-1.jpg?downsize=900:*&output-format=auto&output-quality=auto" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Horror</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/81thx0PP5NL._AC_UF1000,1000_QL80_DpWeblab_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Child Book</h5>
                    <p class="card-text">Give your child our lucid and interesting free children’s story books. </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://wisdombooks.lk/cdn/shop/products/G_bc102054-a969-4028-bb4a-62e0e95754c8.jpg?v=1655288967" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Computing Books</h5>
                    <p class="card-text">This book introduces the most important ideas in computing using the Scheme and Python programming languages</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </td>
    </tr>
</table>
